
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

</style>
<body  style="background-color: #d1eced;">
  
  <%
   if(doc.user != "event" && doc.user != "genero"){}
  else{ %>
<div class="topnav">
  <label><h3>GENERO 2K19, &nbsp;&nbsp;&nbsp;</h3></label>
  <label><h3>USER :&nbsp;<%= doc.user %> </h3></label>
  <a href="/signout" style="float: right;">Sign Out</a>
  <div class="search-container form-group">
    <form action="/search" class="form-group" method="POST">
        <input type="radio" id="type" name="type" value="gid">
        <label for="gid">GID</label>&nbsp;&nbsp;&nbsp;
        <input type="radio" id="type" name="type" value="email">
        <label for="email">Email</label>&nbsp;&nbsp;&nbsp;
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>  
  </div>
</div>
<% }
 
  %>

<div class="container">
  <center><h2>Search Result</h2></center>
  <% if(doc==[]){}
  else {
      for( key in doc) { 
          if(key == 'user'){
              continue;
          }
          %>
  <form class="form-horizontal" action="/attend" method="POST">
    <div class="form-group">
            <label class="control-label col-sm-2" for="gid">GID:</label>
            <div class="col-sm-10">
              <label class="control-label col-sm-2" for="gid" style="text-align: left"><%= doc[key].gid %></label>
              <input name="gid" type="text" value=<%= doc[key].gid %> hidden>
            </div>
          </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="name" style="text-align: left"><%= doc[key].name %></label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="email" style="text-align: left"><%= doc[key].email %></label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="mobile">Mobile Number:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="mobile" style="text-align: left"><%= doc[key].mobile %></label>
      </div>
    </div><div class="form-group">
      <label class="control-label col-sm-2" for="college">College:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="college" style="text-align: left"><%= doc[key].college %></label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="year">Year:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="year" style="text-align: left"><%= doc[key].year %></label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="course">Course:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="course" style="text-align: left"><%= doc[key].course %></label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="branch">Branch:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="branch" style="text-align: left"><%= doc[key].branch %></label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="txnid">Transection ID:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="txnid" style="text-align: left"><%= doc[key].txnid %></label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="txndate">Transection Date:</label>
      <div class="col-sm-10">
        <label class="control-label col-sm-2" for="txndate" style="text-align: left"><%= doc[key].txndate %></label>
      </div>
    </div>
    <div class="form-group">
            
            
      <%
          var c=1;
        for (var i in doc[key].event ){
            if(doc[key].event[i] == "1") { continue; }
            %> 
            <label class="control-label col-sm-2" for="enroll_event">Enrolled Event <%= c %>:</label>
            <div class="col-sm-10" class="form-group">
              <% if(doc.user != "event" ){}
              else{ %>
              <input type="radio" name="check" id="check" style="float: left" value=<%= (i) %>>
              <% } %>
          <label class="control-label col-sm-2" for="enroll_event" style="text-align: left"><%= i %></label>
           
        </div>
        <% c++; } %>
    
      </div>
      <% if(doc.user != "event" ){}
          else{ %>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <center><button type="submit" class="btn btn-default">Submit</button></center>
      </div>
    </div>
    <% } %>
  </form>
  <% }
 }
  %>
</div>

</body>

</html>
